{% extends 'base.html' %} {% block content %}

<section class="jumbotron text-center" id="home">
    <div class="container demo">
        <h1>
             Hi, Im Tadaka Surya Teja.
        </h1>
        <h1>
          <div class="typewrite" data-period="2000" data-type='["I am a Creative Developer", "I Love Design.", "I Love to play With Cool Stuff." ]'>
          </div>
        </h1>
        <p class="lead text-muted">I am a software engineer based in Hyderabad, India. I am a self-taught programmer, and I am passionate about learning new technologies and building cool stuff. I love to solve problems and I am always open to learn new things.</p>
        <p>

            {% if request.session.customer %}
                <form id="id_file" method="POST">
                    {% csrf_token %}
                     {{ form.file.errors }}
                     {{ form.file }}
                    <button class="btn btn-info my-2" type="submit">Upload</button>
                </form>
              <a class="btn btn-info my-2" href="/logout">Logout<span class="sr-only">(current)</span></a>

            {% else %}

              <a href="{% url 'signup' %}" class="btn btn-info my-2">Signup<span class="sr-only">(current)</span></a>
              <a href="{% url 'login' %}" class="btn btn-primary my-2">Login<span class="sr-only">(current)</span></a>


            {% endif %}
       </p>
    </div>
</section>

<section class="jumbotron text-center"  id="about">
    <div class="container">
      <h1 class="jumbotron-heading">About</h1>
      <p class="lead text-muted">
I have experience of 3 years of working in the IT Industry. Currently working in Qentelli as a Software Engineer.
My area of expertise includes Full Stack Development, NLP, OpenCV, visualization, Data Interpretation, testing web, and mobile applications. For More details, please visit my <a href="https://github.com/TadakaSuryaTeja">Github Profile</a>

      </p>
    </div>

<p>I have done my B. Tech from Vardhaman College of Engineering, Hyderabad with a specialization in Computer Science and Engineering.</p>
      <p>
        <a href="mailto:suryateja233@gmail.com" class="btn btn-primary my-2">Contact Me</a>
      </p>
    </div>
</section>

{% endblock %}